<%= error_msgs_for(@shipping_zone) %>
<fieldset>
  <label>Name</label>
  <%= f.text_field :name %>

  <label>Country</label>
  <%= f.collection_select :country_ids, @countries, :id, :name, {}, {:id => "countries-select", :multiple => true, "data-url" => states_admin_config_countries_path} %>
  <br />
  <br />
  <label>States</label>
  <%= f.collection_select :state_ids, @states, :id, :name, {}, {:id => "states-select", :multiple => true} %>

</fieldset>

<% content_for :head do -%>
  <%= javascript_include_tag "admin/shipping_zones" %>
  <%= javascript_include_tag 'chosen/chosen.jquery.min.js' %>
  <%= stylesheet_link_tag 'chosen.css' %>
<% end %>
